header.bg-indigo-600
    .container.mx-auto.p-4.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices
        nav(class="my-5 text-sm md:flex md:items-center md:gap-6 font-bold text-white hidden")
            a(href="/auth/registro") Crear Cuenta
            a(href="/auth/login") Iniciar Sesion

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas 
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Departamentos 
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Bodegas 
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Terrenos 
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Cabañas 